/*.container {
    border: 1px solid #eee; 
    background: #333;
    height: 600px;
    width: 400px;
    transition-duration: .7s;
    text-align: center;
    border-radius: 20px;
    background-image: url("../img/Bane_1484_Cherryblossom_1024x1024_93.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;

}
.container:hover {
    transition-duration: .1s;
    background: #444;
    background-image: url("../img/Backpack_Bandit_811.png");
    background-image: url("../img/Bane_1484_Cherryblossom_1024x1024_93.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;

}
.container:active {
    background: #FFff00;
}*/
.container {
    background-image: url("../img/Axe_Fire_104_Multicam_1024x1024_10.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    margin: 15px;
    transition-duration:.2s;
    display: inline-block;
}
.container:hover {
    background-color: #b9b9b9;
    background-size:90%;
}
.mythical {
        background: red;
}
.Headline {
    font-size: 0.8em;
}
/*.container #rarity /* kleine Box mit farbigem Hintergrund {
    background:#ffbbcc; /* Hintergrundfarbe 
    color: white; /* Textfarbe 
    height:30px;
    width: 380px;
    margin: 10px auto;
    text-align: center;
    border-radius: 15px;
    font-size: 19px;
    line-height: 30px;
}*/
.container #header{
    margin-top: 10px;
    margin-bottom: 0px;
}
.container ._able {
    color:black;
    height:30px;
    width:185px;
    border-radius: 15px;
    line-height: 30px;
    margin:5px;
    vertical-align: bottom;
    display: inline-block;
}
body {
    background: #616161;
    display: block;
    color: white;
}
.blockinline {
    text-align: center;
    margin: 0px;
}
.imgurs {
    width: 100px;
    height: 100px;
    opacity: 100%;
}
.searcher {
    right: 0px;
    margin-left: 100px;
}
a {
    text-decoration: none;
}
.market {
    width: 148px;
    margin: 1px;
    display: inline-block;
    opacity: 50%;
    text-shadow: 0px 0px 2px #ff0000;
}
.goodable {
    text-shadow: 0px 0px 2px #0F0;
    width: 148px;
    margin: 1px;
    display: inline-block;
    opacity: 50%;
}
.notable {
    text-shadow: 0px 0px 2px #ff0000;
    width: 148px;
    margin: 1px;
    display: inline-block;
    opacity: 50%;
}